@font-face {
    font-family: 'Arial';
    src: url('../fonts/bpg-arial-webfont.ttf');
}

@font-face {
    font-family: 'Glaho';
    src: url('../fonts/bpg-glaho-webfont.ttf');
}

body {
    margin: 0;
    background-color: rgba(227, 228, 232, 1);
}

table,
td {
    border-spacing: 0;
    padding: 0;
}

.container {
    margin: 50px 50px;
}

.utility {
    position: relative;
    margin: 10px;
    width: 125px;
    height: 125px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: width 500ms, height 500ms;
}

.utility .circle_1 {
    position: absolute;
    z-index: 1;
    right: -240px;
    top: -430px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    transition: right 1000ms, top 1000ms;
}

.utility .circle_2 {
    position: absolute;
    z-index: 2;
    right: -340px;
    top: -380px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    transition: right 1000ms, top 1000ms;
}

.utility .icon {
    position: absolute;
    z-index: 3;
    left: 15px;
    top: 15px;
}

.utility .icon img {
    display: block;
}

.utility .title_container {
    position: absolute;
    z-index: 4;
    left: 10px;
    top: 50px;
    margin: 5px 0 0;
    transition: left 500ms, top 500ms;
}

.utility .title {
    font-family: 'Glaho';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.utility .subtitle {
    margin: 5px 0 0;
    font-family: 'Glaho';
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

.utility .utility_form {
    display: none;
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 100px;
    white-space: nowrap;
    /* opacity: 0; */
    /* transition: opacity 500ms; */
}

.utility .show_utility_form {
    /* opacity: 1; */
    display: block;
}

.utility input {
    outline: none;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 40px;
    padding: 0 10px;
    font-family: 'Glaho';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.3);
}

.utility input::placeholder {
    font-family: 'Glaho';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.utility button {
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 40px;
    font-family: 'Glaho';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.utility .reply_container {
    position: absolute;
    left: 10px;
    top: 150px;
}

.utility .reply {
    font-family: 'Glaho';
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}


/* Extended utility */

.utility_extended {
    width: 400px;
    height: 250px;
    cursor: initial;
}

.utility .circle_1_extended {
    right: -150px;
    top: 180px;
}

.utility .circle_2_extended {
    top: 50px;
}

.utility .title_container_extended {
    left: 75px;
    top: 10px;
}

.utility .close {
    display: none;
    position: absolute;
    z-index: 6;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.utility .close img {
    display: block;
}

.utility .show_close_button {
    display: block;
}


/* pti */

.pti {
    background-color: rgba(255, 0, 0, 0.7);
    box-shadow: 0 10px 10px rgba(255, 0, 0, 0.5);
    /* background-color: rgba(46, 204, 113, 0.8);
    box-shadow: 0 10px 10px rgba(46, 204, 113, 0.5); */
}

.pti .circle_1 {
    background-color: rgba(255, 255, 255, 0.1);
}

.pti .circle_2 {
    background-color: rgba(255, 255, 255, 0.1);
}


/* Gas */

.gass {
    background-color: rgba(39, 174, 227, 0.6);
    box-shadow: 0 10px 10px rgba(39, 174, 227, 0.5);
}

.gass .circle_1 {
    background-color: rgba(39, 174, 227, 0.5);
}

.gass .circle_2 {
    background-color: rgba(39, 174, 227, 0.5);
}


/* Taxi */

.taxi {
    background-color: rgba(243, 156, 18, 0.9);
    box-shadow: 0 10px 10px rgba(243, 156, 18, 0.6);
}

.taxi .circle_1 {
    background-color: rgba(255, 205, 59, 0.3);
}

.taxi .circle_2 {
    background-color: rgba(255, 205, 59, 0.3);
}


/* Database */

.database {
    background-color: rgba(82, 111, 255, 0.7);
    box-shadow: 0 10px 10px rgba(82, 111, 255, 0.5);
}

.database .circle_1 {
    background-color: rgba(82, 111, 255, 0.6);
}

.database .circle_2 {
    background-color: rgba(82, 111, 255, 0.6);
}